.bg-info-lighter {
    background-color: #e7f6f8;
}
.bg-info-light {
    background-color: #99deea;
}
.bg-info {
    background-color: #00bde3;
}
.bg-info-dark {
    background-color: #009ec1;
}
.bg-info-darker {
    background-color: #2e6276;
}
.bg-error-lighter {
    background-color: #f4e3db;
}
.bg-error-light {
    background-color: #f39268;
}
.bg-error {
    background-color: #d54309;
}
.bg-error-dark {
    background-color: #b50909;
}
.bg-error-darker {
    background-color: #6f3331;
}
.bg-warning-lighter {
    background-color: #faf3d1;
}
.bg-warning-light {
    background-color: #fee685;
}
.bg-warning {
    background-color: #ffbe2e;
}
.bg-warning-dark {
    background-color: #e5a000;
}
.bg-warning-darker {
    background-color: #936f38;
}
.bg-success-lighter {
    background-color: #ecf3ec;
}
.bg-success-light {
    background-color: #70e17b;
}
.bg-success {
    background-color: #00a91c;
}
.bg-success-dark {
    background-color: #008817;
}
.bg-success-darker {
    background-color: #216e1f;
}
.bg-disabled-light {
    background-color: #e6e6e6;
}
.bg-disabled {
    background-color: #c9c9c9;
}
.bg-disabled-dark {
    background-color: #adadad;
}
.text-info-lighter {
    color: #e7f6f8;
}
.text-info-light {
    color: #99deea;
}
.text-info {
    color: #00bde3;
}
.text-info-dark {
    color: #009ec1;
}
.text-info-darker {
    color: #2e6276;
}
.text-error-lighter {
    color: #f4e3db;
}
.text-error-light {
    color: #f39268;
}
.text-error {
    color: #d54309;
}
.text-error-dark {
    color: #b50909;
}
.text-error-darker {
    color: #6f3331;
}
.text-warning-lighter {
    color: #faf3d1;
}
.text-warning-light {
    color: #fee685;
}
.text-warning {
    color: #ffbe2e;
}
.text-warning-dark {
    color: #e5a000;
}
.text-warning-darker {
    color: #936f38;
}
.text-success-lighter {
    color: #ecf3ec;
}
.text-success-light {
    color: #70e17b;
}
.text-success {
    color: #00a91c;
}
.text-success-dark {
    color: #008817;
}
.text-success-darker {
    color: #216e1f;
}
.text-disabled-light {
    color: #e6e6e6;
}
.text-disabled {
    color: #c9c9c9;
}
.text-disabled-dark {
    color: #adadad;
}
.usa-tooltip__body {
    opacity: 0;
}
.usa-search [type="search"]::-webkit-search-cancel-button {
    display: none;
}
.usa-language__submenu .usa-language__submenu-item button {
    color: #fff;
    display: block;
    line-height: 1.3;
    padding: 0.5rem;
    text-decoration: none;
    width: 100%;
}
.usa-language__submenu .usa-language__submenu-item button:focus {
    outline-offset: -0.25rem;
}
.usa-language__submenu .usa-language__submenu-item button:hover {
    color: #fff;
    text-decoration: underline;
}
.src-components-Alert-Alert-module__alertWithCTA--Pzx3J {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.src-components-Table-Table-module__fixed--RFjRe {
    table-layout: fixed;
}
